        <footer class="footer">
            <a href="https://github.com/sergiy3013" target="_blank" style="background: #24292e; --hover-bg: #1a1e22;"
                onmouseover="this.style.background=this.style.getPropertyValue('--hover-bg')"
                onmouseout="this.style.background='#24292e'">
                <i class="fab fa-github"></i>
                GitHub
            </a>
            <a href="https://buymeacoffee.com/sergiy3013" target="_blank"
                style="background: #ff813f; --hover-bg: #ff6b1f;"
                onmouseover="this.style.background=this.style.getPropertyValue('--hover-bg')"
                onmouseout="this.style.background='#ff813f'">
                <i class="fas fa-coffee"></i>
                Buy me a coffee
            </a>
            <a href="https://ko-fi.com/sergiy3013" target="_blank" style="background: #13C3FF; --hover-bg: #11b3e7;"
                onmouseover="this.style.background=this.style.getPropertyValue('--hover-bg')"
                onmouseout="this.style.background='#13C3FF'">
                <i class="fas fa-mug-hot"></i>
                Ko-fi
            </a>
        </footer>
    </div>
</body>
</html>