        <footer class="footer">
            <a href="https://github.com/sergiy3013/MetricSnap" target="_blank" style="background: #24292e; --hover-bg: #1a1e22;"
                onmouseover="this.style.background=this.style.getPropertyValue('--hover-bg')"
                onmouseout="this.style.background='#24292e'">
                <i class="fab fa-github"></i>
                GitHub
            </a>
            </a>
            <a href="https://send.monobank.ua/jar/2MWaHtwB8y" target="_blank" style="background: #24292e; --hover-bg: #1a1e22;"
                onmouseover="this.style.background=this.style.getPropertyValue('--hover-bg')"
                onmouseout="this.style.background='#24292e'">
                <i class="fa-solid fa-credit-card"></i>
                monobank
            </a>
        </footer>
    </div>
</body>
</html>