<%- include('partials/header', { title: 'MetricSnap' }) %>

    <h1>MetricSnap</h1>
    <p><strong>MetricSnap</strong> is a service that generates dynamic PNG images visualizing server metrics, including Docker container states and their interfaces. It provides a simple API to create beautiful, informative metric snapshots that can be embedded anywhere.</p>

    <p>Although the project was initially developed for my own needs, it has the potential to be useful to others as well. MetricSnap allows you to easily visualize and share critical server data, particularly focused on monitoring Docker containers and their interfaces (both local and global, or any specific interface). Whether you need to track the performance of your containers or monitor key metrics like CPU usage, memory consumption, or network activity, MetricSnap offers an efficient and flexible solution. The API is simple to integrate, and the generated images are lightweight, making them ideal for embedding in dashboards, reports, or websites.</p>

    <p>You can explore the available features in the top right corner, where you'll find usage examples and the results of various functions.</p>

<%- include('partials/footer') %>
